<% if (locals.user) { %>
<div id='menu'>
    <div class="in_menu">
        <div class="logo">
            <% if (user.user_logo) { %>
                <img src="/images/logo/<%= user._id %>.jpg">
            <% }else {%>
            <img src="/images/logo/default.jpg">
            <% }%>
        </div>
        <div class="username">
            <a href="http://localhost:3000/u/<%= user.user_account%>"><%= user.user_username %></a>
        </div>
        <div class="logout">
            <a href='/logout'>注销</a>
        </div>
        <div >
            <a href='/set/intro'>个人中心</a>
        </div>
    </div>
</div>
<% } else { %>
<div id='menu'>
    <div class="in_menu">
        <a href='/register'>注册</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href='/login'>登录</a>
    </div>
</div>
<% } %>