/*背景色*/
#menu, .data_head,.home_list_head,.file_title,.create_album,.article_title,.upload_photo
,.text_head,.blog_list_head,.tag_list h4,.comm_title
,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
,#pager a:hover,#pager a:focus,#pager a :active,.footer,.modal-header,.save button,.post_blog_box button
,.modal-footer .btn-primary
{
    background: #000000;
}

/*浅色背景色*/
.nav > li > a:hover, .nav > li > a:focus,.write_link:hover
,.modal-body button,.content-album-picture-total
{
    background: rgba(89, 89, 89, 0.91);
}

.save button:hover,.save button:active,.save button:focus
,.post_blog_box button:hover,.post_blog_box button:focus,.post_blog_box button:active
,.modal-footer .btn-primary:hover,.modal-footer .btn-primary:focus,.modal-footer .btn-primary:active
{
    background: #adab99;
}

#logo #preview,.choose_pic button:hover,.choose_pic button:focus,.choose_pic button:active,body
{
    background: rgb(212, 209, 194);
}

/*字体*/
.navbar  h4 a,.summary_list a,.data_name span
,#pager a
,.nav-tabs > li > a,.form-group label,#logo .desc,.choose_pic button,.basic_file table tr .tr_title
,.blog_cell a,.tag_list li a,.modal-body,.content-album-name,#album form label,.desc
,#pager a
{
    color: #242424
}

/*深色字体*/
.choose_pic button:hover,.choose_pic button:focus,.choose_pic button:active
,.modal-body a,.tag_list ul em,.content-album-date,.photo_list li a,#ablut .basic_title
{
    color: #000000
}

/*边框色*/
.per_data, .per_file ,.home_list
,#pager a
,.nav-tabs, .nav-tabs > li.active > a   , .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.form-group input, .form-group select,#logo #preview
, #preview-pane div,.choose_pic button,.choose_pic button:hover,.choose_pic button:focus,.choose_pic button:active,.my_func a
,.tag_list,.tag_list h4,.blog_list,.modal-header,.modal-footer,.modal-body input,.modal-body button
,.article,.alubm_list .content-album,.create_album,.create_album,.photobody,.photo_border p,.text,#commentArea
,#pager a,.save button,.post_blog_box button,.save button:hover,.save button:active,.save button:focus
,.post_blog_box button:hover,.post_blog_box button:focus,.post_blog_box button:active,#nav .navbar-nav
,.nav > li > a:hover, .nav > li > a:focus
{
    border-color: #393939
}

/*下边框透明*/
.nav-tabs > li.active > a   , .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-bottom-color: transparent;
}

#menu a,#nav .navbar-nav a,.data_head span,.home_list_head span
,.nav > li > a:hover, .nav > li > a:focus,.file_title span,.my_func a
,.tag_list h4,.blog_list_head span,.modal-body button,.create_album,.create_album:hover,.create_album:active,.create_album:focus,.article_title span
,.upload_photo,.upload_photo:hover,.upload_photo:active,.upload_photo:focus,.text_head span,.comm_title span,.comm_title a
,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,#pager a:hover,#pager a:focus,#pager a :active
,.footer,.modal-header,.basic_title,button.close,.close:hover, .close:focus {
    color: #fff;
}

#nav .navbar-nav li:nth-child(1), #nav .navbar-nav li:nth-child(3),.my_func a {
    background: -webkit-linear-gradient(top , rgb(73, 73, 73), rgb(173, 171, 171) 100%);
    border-right: 1px solid #494949;
}

#nav .navbar-nav li:nth-child(2), #nav .navbar-nav li:nth-child(4) {
    background: -webkit-linear-gradient(top , rgb(93, 93, 93), rgb(0, 0, 0) 100%);
    border-right: 1px solid #000000;
}

#nav .navbar-nav li a:hover,.create_album:hover,.create_album:active,.create_album:focus
,.upload_photo:hover,.upload_photo:active,.upload_photo:focus
{
    background: -webkit-linear-gradient(top , rgb(215, 215, 215), rgb(173, 171, 153) 100%);
}